body{
	margin: 0px;
}
#areajogo{
	background-image: url('img/back.jpg');
	background-size: cover;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#c1, #c2, #c3, #c4, #c5, #c6, #c7, #c8, #c9{
	border-style: dotted;
	border-width: 20px;
}
#tabuleiro{
	width: 400px;
	height: 300px;
}
.menujogo{
	position: absolute;
}
#textope{
	font-size: 15px;
	text-align: center;
	text-shadow: black 0.1em 0.1em 0.2em;
	font-weight: bold;
	color: #ffa07a;
}

.casa {
	width: 60px;
	height: 40px;

}
.casa0 {
	width: 133px;
	height: 98px;
	border: 2px solid black;
}
.linha{
	width: 600px;
	height: 100px;
}
#placar{
	text-align: center;
	font-size: 30px;
	text-shadow: black 0.1em 0.1em 0.2em;
	font-weight: bold;
	color: #ffa07a;
}
#infor{
	text-align: center;
}
#vez{
	width: 430px;
	height: 100px;
	border: 2px solid black;
	background-color: #ffa07a;
	text-align: center;
	font-size: 30px;
	color: #705714;
}
.ajuste{
	width: 140px;
	height: 90px;
}
#infosobre{
	text-shadow: black 0.1em 0.1em 0.2em;
	color: #ffa07a;
}
#imagendiv{
	height: 300px;
	text-align: center;
}
.imagensobre{
	height: 300px;
}
#areasobre{
	background-image: url('img/back.jpg');
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}